* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to right, #8e73c2, #5375b5);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.head {
  color: white;
  text-shadow: 2px 3px grey;
  padding-bottom: 50px;
  font-size: 30px;
  transition: transform 0.3s;
}

p {
  padding-bottom: 30px;
}

.aspects {
  line-height: 50px;
}

hr {
  background: rgba(0, 0, 0, 0.411);
  border: none;
  height: 1px;
}

.price {
  padding-bottom: 20px;
  font-size: 40px;
}

a {
  text-decoration: none;
  background: #fffd39;
  color: black;
  border-radius: 8px;
  line-height: 50px;
}

.rotate {
  transition: transform 0.3s;
}

.cat, .dog, .fish {
  display: flex;
  background: rgba(255, 255, 255, 0.247);
  border-radius: 4px;
  width: 200px;
  padding: 50px 20px 20px 20px;
  margin: 0px 40px;
  flex-direction: column;
  justify-content: center;
  transition: margin-bottom 0.3s, background 0.3s;
}

.cat:hover, .dog:hover, .fish:hover {
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.432);
}

.cat:hover .head, .dog:hover .head, .fish:hover .head {
  transform: scale(1.5);
}

a:hover{
  background: #a19f23;
}

.dog {
  display: flex;
  border-radius: 3px;
  margin: 0px 40px;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 960px) {
  .cat, .dog, .fish {
    margin: 1px;
  }
}

@media (max-width: 725px) {
  main {
    flex-direction: column;
    height: auto;
  }

  .cat, .dog, .fish {
    width: 80vw;
  }

}